/* .header {
  position: relative;
} */
.header {
  height: 100vh;
  width: 100vw;
  background: url(../public/image-3.jpg) rgba(1, 2, 78, 0.76);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
