.container {
  font-size: 1.6rem;
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container table {
  width: 50%;
  border: 1px solid #bebdbd;
  border-bottom: none;
}
.container table th,
.container table td {
  border-bottom: 1px solid #bebdbd;
  height: 5rem;
}

.container table td {
  text-align: center;
}

.active {
  background-color: rgba(255, 255, 255, 0.527);
}

.views,
.leads {
  font-weight: bold;
}

.views_data,
.leads_data {
  margin-top: 4rem;
}

@media only screen and (max-width: 1000px) {
  .views_data,
  .leads_data {
    width: 100%;
    overflow-x: scroll;
  }
}
