.container {
  font-size: 1.6rem;
  margin: 7rem 0;
  text-transform: capitalize;
}
.inner {
  display: flex;
  justify-content: center;
}
.container table {
  width: 95%;
  border: 1px solid #bebdbd;
  border-radius: 0.3rem;
}
.container td,
.container th {
  border-bottom: 1px solid #bebdbd;
}
.table_body td {
  text-align: center;
}

.email,
.message {
  text-transform: none;
}
.active {
  background-color: rgba(255, 255, 255, 0.525);
}

.link {
  color: rgb(46, 91, 228);
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (max-width: 1150px) {
  .container table {
    width: 1150px;
  }
  .inner {
    width: 100%;
    overflow-x: scroll;
    display: block;
  }
}
