.container {
  font-size: 1.6rem;
  position: relative;
  top: 6rem;
  margin-bottom: 10rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  text-transform: capitalize;
}

.table,
.exp_table {
  width: 100%;
  min-width: 107rem;
  background-color: #f2f4f5;
}
.table td,
.table th,
.exp_table th,
.exp_table td {
  border-bottom: 1px solid #bebdbd;
}
.table,
.exp_table {
  border: 1px solid #bebdbd;
  border-top: none;
  border-bottom: none;
}
.listing {
  text-align: center;
  vertical-align: middle;
  height: 6rem;
}
.img {
  display: flex;
  justify-content: center;
}
.bg_image {
  height: 4rem;
  width: 6rem;
  background-size: cover;
  background-position: center;
}
.active {
  background-color: rgba(255, 255, 255, 0.527);
}
.table tbody tr:hover {
  cursor: pointer;
  background-color: rgba(1, 2, 78, 0.76);
  color: #f2f4f5;
  font-weight: 600;
}
.MobileListing {
  display: none;
  text-transform: capitalize;
  border: 1px solid #bebdbd;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  margin-top: 2rem;
}
.MobileListing p {
  margin: 0%;
}
.header div {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 1rem;
}
.header div p:first-child {
  font-weight: 700;
}

.mb_body {
  display: flex;
  margin-top: 1rem;
}
.mb_img {
  width: 12rem;
  background-position: center;
  background-size: cover;
}

.content {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  width: calc(100% - 8rem);
}

.content div {
  display: grid;
  grid-template-columns: 8rem 1fr;
  border-bottom: 1px solid #bebdbd;
  column-gap: 1rem;
}
.content div p:first-child {
  font-weight: 700;
  padding-right: 1rem;
}
.MobileListing button {
  width: 100%;
  height: 4rem;
  text-transform: uppercase;
  background-color: rgba(1, 2, 78, 0.76);
  color: #f2f4f5;
  border: none;
  cursor: pointer;
}
.btn {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}
.icon {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.BiCheck {
  border: 2px solid #bebdbd;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  transition: all 0.2s;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
}
.BiCheck svg {
  transform: rotate(-5deg);
  opacity: 0;
  visibility: hidden;
  color: #f2f4f5;
  transition: all 0.2s;
}
.checked.BiCheck {
  border: none;
  background-color: rgba(1, 2, 78, 0.76);
}
.checked.BiCheck svg {
  opacity: 1;
  visibility: visible;
}
.action_btns {
  margin-bottom: 2rem;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
.action_btns button {
  height: 3.5rem;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  color: #f2f4f5;
  border-radius: 0.3rem;
}

.action_btns button:first-child {
  background-color: rgba(1, 2, 78, 0.76);
}
.action_btns button:nth-child(2) {
  background-color: rgb(51, 51, 51);
}
.action_btns button:last-child {
  background-color: rgb(207, 33, 15);
}
.action_btns button:disabled {
  cursor: not-allowed;
}
.action_btns button:first-child:hover {
  background-color: rgba(1, 2, 78);
}
.action_btns button:nth-child(2):hover {
  background-color: rgb(36, 35, 35);
}
.action_btns button:last-child:hover {
  background-color: #9f190c;
}
.action_btns button:first-child:disabled {
  background-color: rgba(1, 2, 78, 0.5);
}
.action_btns button:nth-child(2):disabled {
  background-color: rgba(51, 51, 51, 0.5);
}
.action_btns button:last-child:disabled {
  background-color: rgba(207, 33, 15, 0.5);
}
@media only screen and (max-width: 1024px) {
  .MobileListing {
    display: block;
  }
  .table,
  .exp_table {
    display: none;
  }
  .action_btns {
    flex-direction: column;
  }
  .action_btns > * {
    margin-top: 1rem;
  }
}
