.container {
  position: fixed !important;
  height: 100vh;
  width: 100vw;
  transition: all 0.2s;
  z-index: 1000;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
}
.body {
  background-color: #f2f4f5;
  top: 0%;
  transform: translate(30vw, -100vw);
  height: 75vh;
  width: 50vw;
  transition: all 0.2s;
  font-size: 1.6rem;
}
.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  text-transform: uppercase;
}
.header > * {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0%;
  padding: 2rem;
  background-color: #ebebeb;
}
.active {
  background-color: rgba(1, 2, 78, 0.76);
  color: #f2f4f5;
  font-weight: 600;
}
.container__show.container {
  opacity: 1;
  visibility: visible;
}
.container__show .body {
  transform: translate(30vw, 10vh);
}

.input {
  display: flex;
  flex-direction: column;
}

/* background-color: #f2f4f5;
border: 1px solid #ebebeb; */
.input input {
  border: none;
  border-bottom: 1px solid #707079;
  padding: 1rem 0 4px 0;
  margin-bottom: 2rem;
  transition: all 0.2s;
  background-color: #f2f4f5;
}

.input label {
  transform: translateY(2.5rem);
  transition: all 0.2s;
  width: fit-content;
  cursor: text;
  font-style: italic;
}

.focused label {
  transform: translateY(1rem);
  font-style: normal;
}
.focused input {
  border-bottom: 2px solid rgba(1, 2, 78, 0.76);
}
.error input {
  border-bottom: 2px solid red;
}
.error div {
  color: red;
  font-weight: 600;
}
.login,
.register {
  padding: 2rem;
}
