.container {
  position: fixed !important;
  height: 100vh;
  width: 100vw;
  transition: all 0.2s;
  z-index: 1000;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
}
.body {
  background-color: #fff;
  top: 0%;
  transform: translate(30vw, -100vw);
  height: 75vh;
  width: 50vw;
  transition: all 0.2s;
  font-size: 1.6rem;
}
.container__show.container {
  opacity: 1;
  visibility: visible;
}
.container__show .body {
  transform: translate(30vw, 10vh);
}

.input {
  display: flex;
  flex-direction: column;
}

/* background-color: #f2f4f5;
border: 1px solid #ebebeb; */
.input input {
  border: none;
  border-bottom: 1px solid #707079;
  padding: 1rem 0 0 0;
  margin-bottom: 2rem;
}

.input label {
  transform: translateY(3rem);
  transition: all 0.2s;
  width: fit-content;
  cursor: text;
}

.focused label {
  transform: translateY(1rem);
}
