.container {
  margin-top: 7rem;
  margin-bottom: 5rem;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
}

.prt {
  width: 90%;
}
.container table {
  width: 100%;
  border: 1px solid #bebdbd;
  border-bottom: none;
}
.container table th,
.container table td {
  border-bottom: 1px solid #bebdbd;
  height: 5rem;
}

.container table td {
  text-align: center;
}

.active {
  background-color: rgba(255, 255, 255, 0.527);
}

.msg_row {
  text-align: center;
}

.email,
.msg {
  text-transform: none;
}

@media only screen and (max-width: 1000px) {
  .prt {
    width: 100%;
    overflow-x: scroll;
  }
  .container table {
    width: 1000px;
  }
}
